[Unit]
Description=Music Application
After=default.target

[Service]
Type=simple
WorkingDirectory=/home/mathew/Documents/lullaby
# Hack to ensure the audio drivers are up on device startup
ExecStartPre=/bin/sleep 10s
ExecStart=/home/mathew/Documents/lullaby/release/Lullabies 9096 /home/mathew/Documents/lullaby
Restart=always
RestartSec=1

[Install]
WantedBy=default.target

